@font-face{
    src : url("fonts/OpenSans.ttf");
    font-family: "OpenSans"
}
.button {
    background-color: black;
    color: white;
    height: 100px;
    width: 200px;
    font-size: 300;
}
.input{
    padding: 5px;
    margin: 10px;
}
.center {
    text-align: center;
    padding: 200px 0;
}
.container{
    width: 100px;
    padding: 10px;
    margin: 30px;
}
.divider{
}
.emptyDivider{
    margin: 20px;
}